
 <div id="footer-container">
    <div id="content-wrap">
        <img src="../../../assets/img/fitStudioText2.png" href="#" class="logoFooter"> 
        <p>Unit 6 – 22 Emerson Court, 900 Elm Street</p>
        <p>Phone number: 0123456789</p><br>
        <p>office@fitstudio.com</p>
        <p>Monday - Friday 06:00 - 22:00</p>
        <p>Saturday 08:00 - 21:00</p>
        <p>Sunday Closed</p>

        <hr style="margin: 30px;">
              <a class="nav-link-footer" href="#">Home <span class="sr-only">(current)</span></a>


              <a class="nav-link-footer" href="#">Services</a>


                <a class="nav-link-footer" href="#">Prices</a>
   

              <a class="nav-link-footer" href="#">Gallery</a>

                <a class="nav-link-footer" href="#">Trainers</a>


                <a class="nav-link-footer" href="#">Contact</a>

                <br><br><p>@2023 by Obreja Corina Denisa</p>

    </div> 

    <footer id="footer"></footer>
</div>
