.program-container {
    height: 800px;
    background-color: rgb(26, 26, 26);
    text-align: center;
}

.size   {
    text-align: center;
    width: 700px;
    padding-top: 20%;
    padding-left: 20%;
}