<app-nav-bar></app-nav-bar>


<div class="program-container">

    <div class="section"> <h1 class="section-big-text">PROGRAM</h1>
        <h1 class="section-title-text">PROGRAM</h1>
    </div>

    <div class="size">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let c of mondayClass"><b>Trainer:</b> {{ c.name }} <br>
                        <b>Class:</b> {{ c.class.className }}<br>
                        <b>Activity:</b> {{ c.class.activity }}<br>
                        <b>Intensity:</b> {{ c.class.intensity }}<br>
                        <b>Start Time:</b> {{ c.class.startTime }} <br>
                        <b>End Time:</b> {{ c.class.endTime }}<br></td> </tr>
                        <tr>
                    <td *ngFor="let c of tuesdayClass"><b>Trainer:</b> {{ c.name }} <br>
                            <b>Class:</b> {{ c.class.className }}<br>
                            <b>Activity:</b> {{ c.class.activity }}<br>
                            <b>Intensity:</b> {{ c.class.intensity }}<br>
                            <b>Start Time:</b> {{ c.class.startTime }} <br>
                            <b>End Time:</b> {{ c.class.endTime }}<br></td></tr>
                            <tr>
                    <td *ngFor="let c of wednesdayClass"><b>Trainer:</b> {{ c.name }} <br>
                            <b>Class:</b> {{ c.class.className }}<br>
                            <b>Activity:</b> {{ c.class.activity }}<br>
                            <b>Intensity:</b> {{ c.class.intensity }}<br>
                            <b>Start Time:</b> {{ c.class.startTime }} <br>
                            <b>End Time:</b> {{ c.class.endTime }}<br></td></tr>
                <br>
              </table>
        </div>

<app-footer></app-footer>
