.program-container {
    height: 800px;
  
    text-align: center;
    color: white;
}

.size   {
    text-align: center;
    width: 100%;
    padding: 20%;
   
}

table {
    color: white;
    font-size: 14px;
    margin-top: -25%;
}

.section-title-text {
    color: rgba(255, 255, 255, 0.329);
    font-size: 100px;
    display: inline-block;
    margin-top: -40px;
    font-weight: 800;
}

.section-big-text {
    font-weight: 800;
    line-height: 28px;
    padding-top: 10%;
    color: white;
    width: 100%;
    font-size:40px;
   

}