<app-nav-bar></app-nav-bar>


<div class="container-prices">
    <div class="section"> <h1 class="section-big-text">PRICES</h1>
        <h1 class="section-title-text">PRICES</h1>
    </div>
<div class="cards">
<div class="card">

    <h3 class="membership-name">BRONZE</h3>
    <h1 id="price-bronze">25$</h1>
    <p class="membership-descript">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium mollitia quas iste. Aut, soluta? Neque iste doloribus delectus, assumenda est cumque laudantium animi! Enim, hic in! Maxime, adipisci eaque!</p>
    
</div>
<div class="card">
    <h5 class="popular">POPULAR</h5>
    <h3 class="membership-name">GOLD</h3>
    <h1 id="price-gold">65$</h1>
    <p class="membership-descript">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium mollitia quas iste.</p>
    
</div>
<div class="card">
    
    <h3 class="membership-name">SILVER</h3>
    <h1 id="price-silver">45$</h1>
    <p class="membership-descript">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium mollitia quas iste. Aut, soluta? Neque iste doloribus delectus, assumenda est cumque laudantium animi! Enim, hic in! Maxime, adipisci eaque!</p>
    
</div>
    </div>
<br><br><br><br>
<a routerLink="/register"><button class="btn my-2 my-sm-0 header-button" type="submit">GET IT NOW</button></a>
</div>
 

<app-footer></app-footer>