.container-prices {
   
    text-align: center;
  }

 



.card  {
    display: inline-flex;
    width: 300px;
    height: 300px;
    margin: 30px 30px 0px 30px;
    background-color: rgb(35, 35, 35);    
    color: white;
    border-radius: 10px;
}

.card:hover {
    width: 320px;
    height: 320px;
    margin: 10px;
    background-color: rgb(30, 52, 35);  
    transition-duration: 1s;
    border-color: rgb(37, 65, 43);
    border-width: 3px;
    box-shadow: 0px 6px 15px 0px rgba(8, 8, 8, 0.57);
}

.cards {
margin-top: 3%;

}


.section-title-text {
    color: rgba(255, 255, 255, 0.329);
    font-size: 100px;
    display: inline-block;
    margin-top: -40px;
    font-weight: 800;
}

.section-big-text {
    font-weight: 800;
    line-height: 28px;
    padding-top: 10%;
    color: white;
    width: 100%;
    font-size:40px;
   

}

.membership-name {
    padding-top: 50px;
}

.membership-descript {
    margin-top: 20px;
    font-size: 14px;
}

.popular {
    margin-top: 20px;
    margin-bottom: -30px;
    background: linear-gradient(90deg, rgba(88,84,0,1) 0%, rgba(246,255,93,1) 52%, rgba(98,80,0,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    
}

.header-button {
    position: relative;
    display: inline;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.055);
    border-color: white;
    color: white;
    font-size: 18px;
    margin-bottom: 40px!important;
  }

  .header-button:hover {
    position: relative;
    display: inline;
    background-color: rgba(42, 78, 69, 0.164);
    color:rgb(254, 255, 255);
    border-color: rgb(42, 78, 69);
    font-size: 18px;
  }

  #price-gold {
    font-size: 72px;
  background: -webkit-linear-gradient(90deg, rgba(88,84,0,1) 0%, rgba(246,255,93,1) 52%, rgba(98,80,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }


  #price-silver {
    font-size: 72px;
  background: -webkit-linear-gradient(90deg, rgba(180,180,180,1) 0%, rgba(255,255,255,1) 52%, rgba(168,168,168,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  #price-bronze {
    font-size: 72px;
  background: -webkit-linear-gradient(90deg, rgba(106,78,6,1) 0%, rgba(176,138,82,1) 52%, rgba(101,84,16,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

